node_modules/
dist/
logs/
.env
*.log
test.js
testPrisma.ts
showData.ts
tunnel.log
*.xlsx
KTV flow/
scratch/
firebase-service-account.json
/Truliva_technician.apk
/app-debug.apk
trulivatechniciansystem-firebase-adminsdk-fbsvc-f8fb54c1ed.json
serial_import_history/
